<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="xkg1.css">
  <title>Electronic Music</title>
</head>  
<body>
  <div class="header">
    <div class="dropdown">
      <h1 class="header">_xristos katsaros_</h1>
    <div class="dropdown-content">
	     <a href="about.html">about</a>
  	   <a href="kennygeezus.html">kenny geezus</a>
  	   <a href="billions.html">billions and billions</a>
 	     <a href="cthrushell.html">c.thru.shell</a>
    </div>
  </div>
</div>
<div class="bigVid">
	<img src="ep2 medium.jpg">
</div>

</body>
</html>
